@import url("https://cdn.geheimesite.nl/punkt.css");

:root {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI symbol";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-size: 2rem;
  color: inherit;
}

hgroup h1,
hgroup h2,
hgroup h3 {
  margin-bottom: 0;
}

hgroup p {
  margin-top: 0;
}

img {
  font-family: var(--font-sans);
  font-size: 1rem;
  font-style: normal;
  max-width: 100%;
}

a, .listing summary {
  /* color: light-dark(#0242f2, #3395ff); */
  color: light-dark(#6a17e1, #c197fc);
  text-decoration: underline;
}

a:hover,
.listing summary:hover,
.commit-log .message:hover {
  /* color: light-dark(#0056b3, #3395ff); */
  color: light-dark(#7848ba, #b783ff);
  text-decoration: none;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

@media(max-width: 576px) {
  .container {
    padding: 0 10px;
  }
}

@media(min-width: 576px) {
  .container {
    max-width: 540px
  }
}
@media(min-width: 768px) {
  .container {
    max-width: 720px
  }
}
@media(min-width: 992px) {
  .container {
    max-width: 960px
  }
}
@media(min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

header {
  margin-top: 1.5rem;
}

header h1 {
  display: inline;
  margin: 0;
  padding-right: 1rem;
}

header nav {
  font-family: var(--font-sans);
  font-size: 1rem;
  order: none;
  flex-grow: 1;
  display: inline-flex;
  flex-wrap: nowrap;
}

header nav a {
  align-self: flex-end;
  margin-bottom: -1px;
  padding: 0 1rem;
  border-radius: 0;
  border: none;
  cursor: pointer;
  color: light-dark(#495057, #ced4da);
  border-color: light-dark(#dee2e6, #2b2b33) light-dark(#dee2e6, #2b2b33) light-dark(#fff, #000);
  text-transform: lowercase;
  line-height: 17px;
  padding-bottom: 3px;
}

header nav a,
header nav a:hover {
  text-decoration: none;
}

header h1 a {
  text-decoration: none;
}

header h1 a:hover {
  text-decoration: underline;
}

header nav a.selected, header nav a:hover {
  color: light-dark(#000, #fff);
  background: light-dark(#ddd, #2b2b33);
}

.line {
  font-family: var(--font-sans);
  font-size: 1rem;
  margin-top: 0;
  background: light-dark(#ddd, #2b2b33);
  padding: 0.1em 0;
}

header .description span {
  color: #666;
  font-style: italic;
}

.commit-graph {
  margin: 1em auto;
  aspect-ratio: 7.6;
}

.summary {
  font-family: var(--font-sans);
  font-size: 1rem;
  display: grid;
  grid-template-columns: 7fr 3fr 5fr;
  gap: 30px;
}

.summary section h2,
.summary section h3 {
  text-transform: lowercase;
  font-weight: 400;
}

.summary section h2 {
  font-size: 1.3rem;
  border-bottom: 1px solid light-dark(#e9ecef, #495057);
  padding-bottom: .25rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.summary section h2 small {
  font-size: .7em;
  text-transform: none;
}

.summary section h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.summary section p {
  margin-top: 0;
}

.summary .logs h2 {
  margin-bottom: 0;
  border-bottom: none;
}

.summary .branches .head::after {
  content: "HEAD";
  font-size: 0.7rem;
  text-transform: uppercase;
  color: black;
  background-color: #88ff88;
  margin-left: 0.3rem;
  padding: 0.2rem 0.4rem;
}

.summary .branches a::after {
  content: " \0025B8";
  font-size: 1.2rem;
}

.summary .logs ul,
.commit-log ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.summary .logs ul li {
  background: light-dark(#f1f1f1, #2b2b33);
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0.5rem;
  margin-bottom: 0.3rem;
}

.summary .logs .message::before {
  content: " — ";
}

.summary .logs .dt, .listing .dt {
  color: gray;
  font-size: 0.6rem;
  float: right;
  padding-left: 0.5rem;
}

.commit-log {
  font-family: var(--font-sans);
  font-size: 1rem;
  margin: 2em auto;
}

.commit-log a {
  text-decoration: none;
  color: currentColor;
}

.commit-log .message:hover {
  text-decoration: underline;
}

.commit-log ul {
  width: 100%;
}

.commit-log ul li {
  margin-bottom: 0.3rem;
}

.commit-log .rev,
.commit-log .author {
  float: right;
}

.commit-log .author {
  font-weight: bold;
  margin-right: 1em;
}

.commit-log .dt {
  color: gray;
  display: inline-block;
  width: 120px;
}

.commit-details,
.tree,
.blob {
  flex-direction: column;
}

.contributors {
  margin-top: 5em;
  margin-bottom: -7em;
  font-size: 0.7em;
}

.contributors h3 {
  text-align: right;
  margin-bottom: 0.7em !important;
}

.contributor-bar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.contributor-bar a {
  color: currentColor;
}

.contributor-slice {
  display: inline-block;
  max-width: 500px;
  background: #b783ff;
  height: 15px;
}

.readme {
  max-width: 770px;
  width: 100%;
}

.readme pre {
  max-width: 100%;
  background: light-dark(#e9ecef, #2b2b33);
  padding: .25rem;
  display: block;
  font-size: 87.5%;
  color: light-dark(#212529, #fff);
  overflow: auto;
}

.readme img {
  max-width: 100%;
}

.not-found {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.epic {
  padding-top: 44px;
  margin-top: 0;
  border-bottom: 27px solid light-dark(#ddd, #2b2b33);;
}

.epic h1 {
  background: light-dark(#ddd, #2b2b33);
  padding: 0 20px;
  margin-bottom: -20px;
}

.listing {
  gap: 1.5rem;
  align-items: flex-start;
}

.listing h2 {
  margin-bottom: 0.4em;
  border-bottom: none;
  padding-bottom: 0;
}

.listing ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listing section {
  width: 100%;
}

@media (min-width: 768px) {
  .listing section {
    width: calc(50% - 1.5rem);
    float: left;
  }
}

@media (min-width: 1200px) {
  .listing section {
    width: calc(100% / 3 - 1.5rem);
  }
}

.listing a {
  font-family: var(--font-sans);
  font-size: 1rem;
  display: block;
  background: light-dark(#f1f1f1, #2b2b33);
  color: currentColor;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0.5rem;
  margin-bottom: 0.3rem;
  width: 100%;
}

.listing h3,
.listing p {
  margin: 0;
  font-size: 1em;
}

.listing summary {
  font-family: var(--font-sans);
  font-size: 1rem;
  list-style: none;
  text-transform: lowercase;
  cursor: pointer;
  display: inline;
}

.listing summary {
  text-decoration: none;
}

.listing summary:hover {
  text-decoration: underline;
}

.listing details[open] summary {
  display: none;
}

.listing summary::before { content: "[ "; color: light-dark(#000, #fff); }
.listing summary::after { content: " ]"; color: light-dark(#000, #fff); }

.listing summary::marker,
.listing summary::-webkit-details-marker {
  display: none;
}

.commit-details:has(.message) hgroup p {
  margin-bottom: 0;
}

.commit-details .message {
  margin-bottom: 2em;
}

.tree ul {
  padding: 0;
  list-style: none;
  font-family: monospace;
}

.tree li:nth-child(odd) {
  background-color: rgba(0,0,0,5%);
}

.mode {
  padding-right: 1em;
}

.path {
  margin-right: 0.5em;
  flex-grow: 1;
}

.download {
  text-align: right;
  background: light-dark(#f1f1f1, #2b2b33);
  color: currentColor;
  text-decoration: none;
  padding: 0 10px;

  &:hover {
    text-decoration: underline;
  }
}

footer.container {
  font-family: var(--font-sans);
  font-size: 0.8em;
  color: gray;
  margin: 1em auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* punkt.css customizations */

code {
  font-size: 1rem;
}

/* diff2html customizations */

.d2h-icon {
  display: none;
}

/* CodeMirror customizations */

.CodeMirror {
  height: auto !important;
  max-width: 100%;
}
