RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^$ cache.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L,QSA]
