RewriteOptions Inherit

# "Fix" for weird redirection caused by DirectAdmin
# domain pointer redirects. I cannot be bothered to
# properly fix it, so this'll have to do.
Redirect /cache /

RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^$ cache.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L,QSA]
